extends layout

block content
  div.pure-u-1.title-holder
    h1= title
  div.pure-u-4-5.centered
    p= 'Socket.io server actually running on: ' + socketAdress 
    form(class="pure-form pure-form-aligned" id="config-data")
      fieldset
        each val, index in config
          div.pure-control-group
            if val != true && val != false
              label(for=index)= index
              input(type="text" class="pure-input-2-3" id=index data-config=index value=val)
            else
              label(for=index)= index
              if val == true
                input(type="checkbox" data-config=index checked)
              else
                input(type="checkbox" data-config=index)
        div.pure-controls          
          button(type="button" class="pure-button pure-button-primary" id="update-config") Update
block script
  script(type='text/javascript').
    App.init();
